:root {
  --font-display: 'Roboto', sans-serif;
  --font-primary: 'PT Sans', sans-serif;
  --font-secondary: 'Ubuntu', sans-serif;
  --color-grey-dark: #1f1f1f;
  --color-grey-light: #777;
  --color-primary: #007dad;
  --color-white: #fff;
  --color-orange: #FFB600;
  --color-red: #FF2C00;
  --color-valid: #55c57a;
  --shadow-light: .5rem .5rem 2rem rgba(0,0,0,.3);
  --shadow-input: 0 0 2rem rgba(0,0,0,.3);
  --img-shadow-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  --img-shadow-large: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  --header-height: 7rem;
  --max-width: 200rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px / browser default font-size is 16px / 16px*62.5% = 10px / The font-size of <html> is = 1rem */ }
  @media only screen and (min-width: 110em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto; }

.heading-1 {
  color: var(--color-white);
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 500;
  font-size: 5rem;
  text-align: center; }

.heading-2 {
  color: var(--color-white);
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center; }

.heading-3 {
  color: var(--color-grey-dark);
  font-family: var(--font-display);
  letter-spacing: .7px;
  font-weight: 500;
  font-size: 2rem; }

.color-primary {
  color: var(--color-primary); }

.color-grey {
  color: var(--color-grey-dark); }

.section {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%; }

.booking {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all .3s;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center; }
  .booking--active {
    opacity: 1;
    visibility: visible;
    position: fixed; }
  .booking__form-container {
    width: 80%;
    background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../img/background-muffler.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 5px;
    padding: 3rem 5rem; }
  .booking-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    transition: all .3s; }
    .booking-form > *:not(:last-child) {
      margin-bottom: 2rem; }
    .booking-form__heading-2 {
      text-align: left;
      margin-bottom: 1rem;
      color: var(--color-primary); }
    .booking-form__choice {
      display: flex; }
      .booking-form__choice--group {
        margin-right: 5rem; }
      .booking-form__choice--radio {
        display: none; }
      .booking-form__choice--label {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        color: var(--color-primary);
        cursor: pointer; }
      .booking-form__choice--radio-btn {
        display: inline-block;
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 5px solid var(--color-primary);
        margin-right: 1.5rem; }
        .booking-form__choice--radio-btn::after {
          content: "";
          display: block;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: var(--color-primary); }
      .booking-form__choice--radio:checked + .booking-form__choice--label .booking-form__choice--radio-btn::after {
        opacity: 1; }
    .booking-form__input {
      height: 4rem;
      width: 100%;
      padding: .5rem 1rem;
      outline: none;
      border: none;
      box-shadow: var(--shadow-light);
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0);
      font-size: 2rem; }
      .booking-form__input:focus {
        outline: none;
        border-color: var(--color-primary); }
    .booking-form__btn {
      cursor: pointer;
      color: var(--color-white);
      font-size: 2rem;
      background-color: var(--color-primary);
      padding: .5rem 2rem;
      border-radius: 5px; }
    .booking-form__consent--link {
      text-decoration: none;
      color: inherit; }
  .booking__close {
    position: absolute;
    display: block;
    top: 3rem;
    right: 3rem;
    font-size: 5rem;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
    transition: all .1s; }
  .booking__close:hover {
    color: var(--color-orange);
    transform: scale(1.2); }

#id-control-field {
  display: none;
  position: absolute;
  left: -9999px; }

.btn {
  outline: none;
  border: none;
  overflow: hidden;
  border-radius: 3px;
  padding: 1rem 1rem;
  cursor: pointer; }
  .btn:active {
    transform: translateY(3px); }
  .btn--black {
    background-color: var(--color-grey-dark); }

.contacts {
  width: 40%; }
  .contacts > .heading-2 {
    color: var(--color-primary);
    text-align: left; }
  .contacts__block {
    margin-top: 2rem; }
    .contacts__block > .heading-3 {
      color: var(--color-grey-dark); }
  .contacts__icon-box {
    display: flex; }
  .contacts__link:not(:last-child) {
    margin-right: 2rem; }
  .contacts__icon {
    fill: var(--color-primary);
    width: 5rem;
    height: 5rem;
    transition: all .3s; }
    .contacts__icon:hover {
      fill: orangered; }

.composition {
  width: 60%;
  max-height: 70vh;
  min-height: 30rem;
  position: relative; }
  .composition__img {
    position: absolute;
    width: 55%;
    box-shadow: var(--img-shadow-light);
    transition: all .7s; }
    .composition__img--1 {
      top: 0;
      left: 10%;
      z-index: 10; }
    .composition__img--2 {
      top: 5rem;
      right: 0;
      z-index: 9; }
    .composition__img--3 {
      top: 40%;
      left: 30%;
      z-index: 8; }
    .composition__img:hover {
      z-index: 30;
      transform: scale(1.2);
      outline: 1.5rem solid var(--color-primary);
      outline-offset: 1rem; }

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  box-shadow: var(--shadow-light);
  transition: all .3s;
  padding: 1.5rem .5rem;
  margin-bottom: 5rem;
  width: 25rem;
  font-family: var(--font-display); }
  .price-card:not(:last-child) {
    margin-right: 5rem; }
  .price-card__set-name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem; }
  .price-card__image {
    width: 100%;
    height: auto; }
  .price-card__description {
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    flex-grow: 1; }
    .price-card__description--text {
      line-height: 110%;
      margin-bottom: 1rem; }
    .price-card__description--list {
      list-style: none; }
      .price-card__description--list li > i {
        margin-right: 1rem; }
  .price-card__price {
    font-size: 2.7rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 2rem; }
  .price-card__btn {
    border-radius: 30px;
    background-color: var(--color-primary);
    padding: .5rem 5rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s; }
    .price-card__btn:active {
      transform: translateY(3px); }

.map {
  width: 55%;
  align-self: stretch;
  border: 1px solid var(--color-grey-dark); }

.menu-btn {
  z-index: 5000;
  display: none;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer; }
  @media only screen and (max-width: 62.5em) {
    .menu-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: 2rem; } }
  .menu-btn__icon {
    width: 3.5rem;
    height: 2px;
    background-color: var(--color-white);
    position: relative;
    transition: all .5s; }
    .menu-btn__icon::before, .menu-btn__icon::after {
      content: "";
      position: absolute;
      background-color: var(--color-white);
      width: 100%;
      height: 2px; }
    .menu-btn__icon::before {
      top: -1rem; }
    .menu-btn__icon::after {
      top: 1rem; }
    .menu-btn__icon--active {
      transform: rotate(45deg); }
      .menu-btn__icon--active::before {
        transform: rotate(-90deg);
        top: 0; }
      .menu-btn__icon--active::after {
        display: none; }

.navigation {
  position: relative;
  transition: all .5s; }
  @media only screen and (max-width: 62.5em) {
    .navigation {
      display: none; } }
  .navigation--active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 125, 173, 0.9), rgba(0, 125, 173, 0.9)); }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    transition: all .7s; }
    @media only screen and (max-width: 62.5em) {
      .navigation__list {
        flex-direction: column; } }
  .navigation__item:not(:last-child) {
    margin-right: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .navigation__item {
      margin-right: initial;
      margin-bottom: 2rem; } }
  .navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    flex-basis: 100%;
    padding: 1.5rem 1rem;
    border-radius: 3px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-display);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s; }
    .navigation__link:hover, .navigation__link:active {
      background-color: var(--color-grey-dark); }
    @media only screen and (max-width: 62.5em) {
      .navigation__link {
        font-size: 2rem; } }

.testimonial {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 65%;
  padding: 2rem; }
  .testimonial:not(:last-child) {
    margin-bottom: 5rem; }
  .testimonial__user {
    clip-path: circle(50% at 50% 50%);
    width: 10rem;
    height: 10rem;
    position: relative; }
    .testimonial__user--img {
      height: 100%; }
    .testimonial__user--name {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 90%);
      opacity: 0;
      text-align: center;
      color: var(--color-white);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
      transition: all .7s; }
    .testimonial__user:hover .testimonial__user--name {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .testimonial__user:hover .testimonial__user--img {
      filter: blur(3px) brightness(80%); }
  .testimonial__text {
    margin-left: 5rem;
    position: relative;
    z-index: 3; }
    .testimonial__text::before {
      content: "\201C";
      position: absolute;
      font-family: sans-serif;
      font-size: 30rem;
      color: var(--color-grey-light);
      opacity: 0.3;
      top: -16rem;
      left: -1.5rem;
      z-index: 1; }

.work-scheme {
  display: flex;
  justify-content: center;
  padding: 5rem 0; }
  .work-scheme__step {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    .work-scheme__step--number {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      background-color: var(--color-orange);
      border-radius: 50%;
      font-size: 2.7rem;
      font-weight: 700;
      color: var(--color-white); }
    .work-scheme__step:not(:first-child) .work-scheme__step--number::before {
      display: block;
      content: "";
      position: absolute;
      left: -2rem;
      transform: translateX(-100%);
      width: 20rem;
      height: 2px;
      background-color: var(--color-orange); }
    .work-scheme__step:not(:last-child) .work-scheme__step--number::after {
      display: block;
      content: "";
      position: absolute;
      left: calc(100% + 2rem);
      width: 20rem;
      height: 2px;
      background-color: var(--color-orange); }
    .work-scheme__step--description {
      font-size: 2rem;
      text-align: center; }

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-light);
  overflow: hidden; }
  .work__img-box {
    overflow: hidden; }
  .work__img {
    width: 100%;
    transition: all 1.5s; }
  .work__model {
    transform: translateY(-50%);
    width: 80%;
    background-color: var(--color-primary);
    text-align: center;
    padding: 1rem;
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-white); }
  .work__description {
    padding-bottom: 1rem; }
  .work:hover .work__img {
    transform: scale(1.2); }

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: stretch; }

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  height: var(--header-height); }
  .header__logo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .header__tel {
    color: var(--color-white);
    letter-spacing: 1px;
    font-size: 2rem;
    text-decoration: none; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    height: 3.5rem;
    font-family: var(--font-display);
    font-size: 2.7rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0 1rem; }
    .header__logo *:not(:last-child) {
      margin-right: 1rem; }
  .header__order-btn {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-display);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer; }
    .header__order-btn:active {
      transform: translateY(3px); }

.section-head {
  margin-top: var(--header-height);
  min-height: 20rem; }
  .section-head__content {
    display: flex;
    justify-content: space-evenly; }
  .section-head__service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%; }
    .section-head__service--heading {
      font-family: var(--font-display);
      font-size: 2.7rem;
      font-weight: 700; }
    .section-head__service--image {
      width: 100%;
      height: auto; }
    .section-head__service--more-details {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-display);
      font-size: 2.7rem;
      text-decoration: none;
      color: inherit;
      cursor: pointer; }
      .section-head__service--more-details > i {
        margin-left: 1rem;
        font-size: 3.5rem;
        transition: all .3s; }
      .section-head__service--more-details:hover > i,
      .section-head__service--more-details:active > i {
        transform: scale(1.3); }

.section-list {
  padding-top: 7rem; }
  .section-list .heading-1 {
    margin-bottom: 3rem; }
  .section-list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .section-list__content--item {
      width: 30%;
      display: flex;
      align-items: center;
      font-size: 2.7rem;
      padding: 1rem 1rem; }
    .section-list__content--icon-svg {
      font-size: 4rem;
      fill: var(--color-orange);
      margin-right: 1.5rem;
      width: 7rem; }
    .section-list__content--text {
      line-height: 110%; }

.section-auto-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem; }
  .section-auto-price__text {
    text-align: center;
    margin-bottom: 3rem;
    max-width: 70%; }
  .section-auto-price__prices-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.section-how-we-work {
  padding-top: 7rem; }

.section-works {
  max-width: 114rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem; }
  .section-works__work-box {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    grid-auto-rows: 1fr; }

.section-testimonials {
  padding: 15rem 0 10rem 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-engine.jpg);
  background-size: cover;
  margin-top: 10rem;
  margin-bottom: 10rem;
  transform: skewY(-7deg); }
  .section-testimonials > * {
    transform: skewY(7deg); }
  .section-testimonials__testimonials-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem; }

.section-images {
  max-width: 114rem;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 10rem; }
  .section-images__content {
    display: flex;
    margin-top: 3rem;
    align-items: center; }
  .section-images__text {
    width: 40%;
    margin-right: 5rem; }
    .section-images__text > p {
      margin-bottom: 3rem; }

.section-address {
  max-width: 114rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  margin-bottom: 3rem; }
