.section-head {
    margin-top: var(--header-height);
    min-height: 20rem;

    &__content {
        display: flex;
        justify-content: space-evenly;
    }

    &__service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;

        &--heading {
            font-family: var(--font-display);
            font-size: 2.7rem;
            font-weight: 700;
        }

        &--image {
            width: 100%;
            height: auto;
        }

        &--more-details {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--font-display);
            font-size: 2.7rem;
            text-decoration: none;
            color: inherit;
            cursor: pointer;

            & > i {
                margin-left: 1rem;
                font-size: 3.5rem;
                transition: all .3s;
            }

            &:hover > i,
            &:active > i {
                transform: scale(1.3);
            }
        }
    }
}

.section-list {
    padding-top: 7rem;

    & .heading-1 {
        margin-bottom: 3rem;
    }
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &--item {
            width: 30%;
            display: flex;
            align-items: center;
            font-size: 2.7rem;
            padding: 3rem 1rem;
        }

        &--icon {
            font-size: 4rem;
            margin-right: 1.5rem;
            color: var(--color-primary);
        }

        &--text {
            line-height: 110%;
        }
    }
}


.section-auto-price {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 7rem;

    &__text {
        text-align: center;
        margin-bottom: 3rem;
        max-width: 70%;
    }


    &__prices-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section-how-we-work {
    padding-top: 7rem;
}

.section-works {
    max-width: 114rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 3rem;

    &__work-box {
        margin-top: 5rem;

        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 5rem;
        grid-auto-rows: 1fr;
    }
}

.section-testimonials {
    padding: 15rem 0 10rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0, .5),
        rgba(0,0,0, .5)), url(../img/background-engine.jpg);
    background-size: cover;

    margin-top: 10rem;
    margin-bottom: 10rem;
    

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    &__testimonials-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 5rem;
    }
}

.section-images {
    max-width: 114rem;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;

    &__content {
        display: flex;
        margin-top: 3rem;
        align-items: center;
    }

    &__text {
        width: 40%;
        margin-right: 5rem;
        
        & > p {
            margin-bottom: 3rem;
        }
    }
}

.section-address {
    max-width: 114rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;

    margin-bottom: 3rem;
}