.section-shopwindow {
    padding-top: 7rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen  and (max-width: $bp-smallest) {
        padding-top: 3rem;
        margin-bottom: 5rem;
    }

    &__list {
        margin-top: 5rem;
        list-style: none;
        width: 70%;

        @media only screen and (max-width: $bp-small) {
            margin-top: 0   ; 
            width: 90%; 
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        &--icon {
            color: var(--color-orange);
            font-size: 3rem;
            margin-right: 2rem;
        }

        &--link {
            text-decoration: none;
            color: inherit;
        }
    }

    &__order-btn {
        font-family: var(--font-display);
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }
}